@media screen and (min-width: 320px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }

    body {
        background-image: url(img/unsplash_b-0-LM0wzWM.png);
        background-size: 100%;
        /* background-position: 50%; */
        width: 100%;
        height: 100%;
        background-color: black;

    }

    .arrow {
        margin-left: 90%;
    }

    .arrow a {
        text-decoration: none;
        color: white;

    }

    .hero {
        text-align: center;
        padding-top: 10%;
    }

    .hero-con {
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }

    .hero .heo-con,
    h1 {
        color: white;

    }

    .agro {
        color: yellow;
        position: relative;
    }

    .h1-img {
        position: absolute;
        width: 30%;
        bottom: 72%;
        /* top: 30%; */
        right: 70%;
        left: 50%;

    }


    .hero-img {
        padding-top: 20%;
        width: 50%;
    }

    .hero-h6 {
        padding-top: 20%;
        color: white;
        font-size: 20px;
        margin-top: 20%;

    }





    /*..... Explore.......... */

    .Explore {
        text-align: center;
        padding-top: 10%;

    }

    .Explore,
    p {
        padding-top: 10%;
        color: white;
        margin: 4%;
        letter-spacing: 5%;
        font-size: 20px;
        /* line-height: 60%; */
    }

    .Explore .explore-btn {
        padding-top: 20%;
        display: flex;
        justify-content: center;
        gap: 20%;
        align-items: center;
    }

    .Explore .explore-btn .explore-btn1 {
        width: 40%;
        height: 40px;
        background: green;
        color: white;
        border: 1px solid green;
        border-radius: 20px;

    }

    .Explore .explore-btn .explore-btn2 {
        width: 40%;
        height: 40px;
        background: yellow;
        color: black;
        border: 1px solid yellow;
        border-radius: 20px;

    }



    /*..... welcome..... */

    .welcome {
        text-align: center;
        margin-top: 20px;
    }

    .welcome .welcome-h1 {
        color: yellow;
        letter-spacing: 2px;
    }

    .welcome-len {
        display: flex;
        justify-content: center;
        gap: 2px;
    }

    .welcome-len p {

        font-size: 16px;

    }


    .welcome-len a {
        text-decoration: none;
        color: white;
        font-size: 12px;

    }


    .welcome-farm {
        display: flex;
        justify-content: center;

    }

    .farm1-btn {
        width: 70%;
        height: 30%;
        background: rgb(219, 162, 57);
        border: 1px solid rgb(219, 162, 57);
        border-radius: 20px;
        color: black;
        margin-top: 3px;
    }


    .welcomeP-btn p {
        font-size: 14px;
    }

    .welcomeP-btn button {

        width: 30%;
        height: 30px;
        background: rgb(219, 162, 57);
        border: 1px solid rgb(219, 162, 57);
        border-radius: 5px;
        color: black;

    }



    /*....... farmer....... */


    .wlc-farm {
        text-align: center;
    }

    .wlc-farm_nav {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin: 15px;
    }

    .welcome-farm_nav,
    .farm-h1 {
        font-size: 40px;
        color: yellow;
        /* padding-bottom: 20px; */

    }

    .wlc-img {
        padding-top: 10%;
        width: 45%;
    }

    .wlc-btn1 {
        margin-top: 10%;
        width: 40%;
        height: 30px;
        font-size: 20px;
        border: 3px solid black;
        color: black;



    }

    /* .wlc-farm .welcome-farm_nav, a {
    background: black;

  

} */

    .wlc-btn2 button {
        margin-top: 30%;
        width: 40%;
        height: 30px;
        background: yellow;
        border: 1px solid rgb(219, 162, 57);
        border-radius: 14px;
        color: black;

    }


    /*..... log-in......... */

    .log-in {
        text-align: center;
        padding-top: 10px;

    }

    .log-in p {
        font-size: 20px;

    }

    .log-in a {
        text-decoration: none;
        color: yellow;
        font-size: 15px;

    }

    .log-in input {
        margin-top: 10%;
        width: 70%;
        height: 35px;
        padding-left: 5%;
        border: 1px solid whitesmoke;
        border-radius: 30px;
    }

    .login-btn button {
        margin-top: 30%;
        width: 35%;
        height: 30px;
        background: yellow;
        border: 1px solid rgb(219, 162, 57);
        border-radius: 14px;
        color: black;

    }


    /*.... sign-up..... */

    .sign-up {
        text-align: center;
        padding-top: 10%;
    }

    .signUp-input {
        margin-top: 20%;


    }

    .sign-up input {
        margin-top: 5%;
        width: 70%;
        height: 30px;
        padding-left: 5%;
         border: 1px solid whitesmoke;
        border-radius: 30px;
    }

    .signUp-btn button {
        margin-top: 10%;
        width: 35%;
        height: 30px;
        background: yellow;
        border: 1px solid rgb(219, 162, 57);
        border-radius: 14px;
        color: black;

    }






}